* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #2b3252;
    height: 200px;
    width: 100%;
}

#textField{
    border: none ;
    margin : 0.5rem;
    height: 30px;
    margin-top: 20px;
    border-radius: 2rem;
    padding: 0.25em;
    color:  #2b3252
}

.inputButton{
    margin : 0.5rem;
    max-width: 100%;
}

.rowField{
    display: flex;
    margin-top: 40px;
    height: 30px;
    margin-left: 75px;
    width: 100px;
    justify-content: space-between;
}

.small,
.medium,
.large{
    margin: 0.2rem;
    background-color: #fce77d;
    border: none ;
    border-radius: 2em;
    color:  #2b3252
}

.small:hover,
.medium:hover,
.large:hover{
    background-color: #ef5455
}

.small{
    width : 30%
}

.medium{
    width : 100%
}

.large{
    width:100%
}